h1 {
    text-align: center;
    font-size: 3.75rem;
}

.conterner {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.caixa-de-pergunta {
    border-radius: 16px;
    display: flex;
    align-items: center;
    
    width: 10%;
    padding: 1.5%;
    font-size: 25px;
    background-color: #22D4FD;
}