h1 {
    text-align: center;
    font-size: 3.75rem;
}

.conterner {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.caixa-de-pergunta {
    border-radius: 16px;
    display: flex;
    align-items: center;
    width: 50%;
    padding: 1.5%;
    font-size: 1.5rem;
    background-color: #22D4FD;
}

.conterner-caixa-de-pergunta {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}

.botao1 {
    border-radius: 16px;
    padding: 3%;
    width: 39%;
}

.caixa-de-pergunta2 {
    border-radius: 16px;
    display: flex;
    align-items: center;
    width: 50%;
    padding: 1.5%;
    font-size: 1.5rem;
    background-color: #22D4FD;
}

.botao2 {
    border-radius: 16px;
    padding: 3%;
    width: 39%;
}


.conterner-caixa-de-pergunta-de-dentro {
    width: 20%;
}